# make a bot @ https://discord.dev and insert the token here
DISCORD_TOKEN=

# how to get Discord IDs: https://support.discordapp.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-
DISCORD_OWNER_ID=