name: Testing

on:
  push:
  pull_request:

jobs:
  jest:
    name: Jest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3

    - name: Set up node
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
      with:
        node-version: "18.x"

    - name: Restore cached modules
      uses: actions/cache@4723a57e26efda3a62cbde1812113b730952852d # v3
      id: cache-packages
      with:
        path: node_modules
        key: npm-${{ hashFiles('**/package-lock.json') }}

    - name: Fallback if module cache fails
      run: npm ci
      if: steps.cache-packages.outputs.cache-hit != 'true'

    - name: Run Jest
      run: npm test
